<div class="container-small">
  <div class="row mt-5">
    <div class="col">
      <h2> Todo </h2>
      <p>
        This is a sample client for the todo REST api which demonstrates basic CRUD functionality.
      </p>
      <p>
        You can mark your todo as done by clicking it.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" (click)="addTodo()">Add Todo</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <div class="d-flex todo-item" *ngFor="let todo of todos"  [ngClass]="{ 'done' : todo.isDone }">
          <div class="flex-grow-1" (click)="toggleDone(todo._id)">
            <h2 class="mat-h2">
               <del *ngIf="todo.isDone; else not">
                 {{todo.todoText}}
               </del>
              <ng-template #not>
                {{todo.todoText}}
              </ng-template>
            </h2>
          </div>
          <div class=" text-right">
            <button mat-raised-button class="ml-auto" (click)="edit(todo._id)"> Edit </button>
            <button mat-raised-button color="warn" class="ml-2" (click)="delete(todo._id)"> Delete </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
